@import '../../../../assets/styles/variables';
@import '../../../../vendor/fonts/fonts.scss';

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&.profile {
		> .count .heading {
			color: #775f5f;
		}
	}

	> .count {
		width: 27%;
		font-size: 24px;
		text-align: center;

		@media (max-width: $mobile) {
			font-size: 18px;
		}

		.heading {
			color: $dark-accent;
			text-transform: capitalize;
			font-size: 24px;
			color:#f1e8e8;
			@media (max-width: $mobile) {
				font-size: 18px;	
			}
		}

		.number {
			font-weight: bold;
			color: #fff;

			@media (max-width: $mobile) {
				font-size: 26px;
				color: $black;
			}
		}
	}
}