@import '../../../assets/styles/variables';
@import '../../../vendor/fonts/fonts.scss';

.heading {
	margin: 38px auto;
	text-align: center;
	font-size: 32px;
	color: $white;
	line-height: 1.5;
	overflow-wrap: anywhere;
	@media (max-width: $mobile) {
		font-size: 24px;
	}
}